main{ 
    display: flex ;
}
section{
    width: 100%;
}
.parrafo{background-color: $color-3;
}

.tituloPrincipal{
    height: 50%;
    text-align: $justify-texto;
    padding-bottom: 15px;
}
.tratamientos{
    main{
        @include flex;
        section{
            @include flex;
            align-items: center;
            padding: 15PX;;
        }
    }
}

.col-Img{
 background-position: center;
 background-size: cover;
 background-image: url(../assets/img/imag.nosotros.jpg)
}
.Principal{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: $justify-items;
}


.galeria{
    width: 100%;
}
.carousel-item{
height: 70vh;
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
}


.testimonios{ 
    border: 2px solid $color-4;
padding: 6px;
}
.alto{
    height:70vh;
    @media screen and (max-width:500px) {
        height:unset; 
    }

}
.columnaIzq{
    height: 100%;
display: flex;

}
.columnaDerecha{
    height: 100%;
}
.saludBienestar{
     color: $color-4;
}



.imagenPincipal{
    width: 100%;
}
.contacto{
    main{
        @include flex;
    }
}
.mainContacto {
    background-color: $color-3;
    margin: 0 auto;

}

.mapa{
    padding: 50px;;
}