/*diferentes variables*/
$color-1: rgb(185, 110, 156);
$color-2:rgb(230, 70, 176);
$color-3: rgb(172, 120, 148) ;
$color-4: rgb(145, 128, 139) ;
$color-5: rgb(10, 10, 10) ;

$justify-between: space-between;
$justify-texto: center;
$justify-items:center; 




